<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Login</title>
</head>
<body class="hold-transition login-page skin-blue-light">

	<th:block layout:fragment="content" th:remove="tag">
		<div class="login-box">
			<div class="login-logo">
				<a th:href="@{/login}" href="/login"><b th:text="#{application.fullName}">Translation</b></a>
			</div>
			<!-- /.login-logo -->
			<div class="login-box-body">
				<p class="login-box-msg">Sign in to start your session</p>
				<p class="login-box-msg">
					<font color="red" th:if="${param.error}" th:text="#{login.error}"> </font> <font color="green"
						th:if="${param.logout}" th:text="#{login.logout}"> </font>
				</p>

				<form role="form" action="/login" th:action="@{/login}" name="f" method="POST">
					<div class="form-group has-feedback" th:classappend="${param.error} ? has-error : none">
						<input type="text" class="form-control" placeholder="Name" id="user" name="username"> <span
							class="glyphicon glyphicon-envelope form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback" th:classappend="${param.error} ? has-error : none">
						<input type="password" class="form-control" placeholder="Password" id="password" name="password"> <span
							class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					<div class="row">
						<div class="col-xs-8">
							<div class="checkbox icheck">
								<label> <input type="checkbox" name="remember"> Remember Me
								</label>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-xs-4">
							<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
						</div>
						<!-- /.col -->
					</div>
				</form>

				<a href="#" th:href="@{/remindPassword}">I forgot my password</a>

			</div>
			<!-- /.login-box-body -->
		</div>
		<!-- /.login-box -->

		<!-- jQuery 2.2.3 -->
		<script src="webjars/adminlte/2.3.11/plugins/jQuery/jquery-2.2.3.min.js"
			th:src="@{/webjars/adminlte/2.3.11/plugins/jQuery/jquery-2.2.3.min.js}"></script>

		<!-- Bootstrap 3.3.6 -->
		<script src="webjars/adminlte/2.3.11/bootstrap/js/bootstrap.min.js"
			th:src="@{/webjars/adminlte/2.3.11/bootstrap/js/bootstrap.min.js}"></script>

		<!-- iCheck -->
		<script src="webjars/adminlte/2.3.11/plugins/iCheck/icheck.min.js"
			th:src="@{/webjars/adminlte/2.3.11/plugins/iCheck/icheck.min.js}"></script>

		<script>
			$(function() {
				$('input').iCheck({
					checkboxClass : 'icheckbox_square-blue',
					radioClass : 'iradio_square-blue',
					increaseArea : '20%'
				});
			});
		</script>
	</th:block>
</body>
</html>